.expContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-color);
  border-radius: var(--radius);
}

.expContainer .title {
  font-size: 24px;
}

.expContainer .date {
  color: var(--accentuation);
  font-weight: 500;
}

.left,
.right {
  width: 400px;
  position: relative;
  border-radius: var(--radius);
}

.left {
  margin-left: -500px;
  box-shadow: -5px 5px 15px 0px rgba(239, 240, 243, 0.7);
}

.left .arrow {
  background-color: var(--secondary-color);
  position: absolute;
  height: 30px;
  width: 15px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  right: -15px;
  bottom: calc(50% - 15px);
}

.right {
  margin-left: 500px;
  box-shadow: 5px 5px 15px 0px rgba(239, 240, 243, 0.7);
}

.right svg {
  position: absolute;
  left: -15px;
  bottom: calc(50% - 20px);
  font-size: 40px;
}

.right .arrow {
  background-color: var(--secondary-color);
  position: absolute;
  height: 30px;
  width: 15px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  left: -15px;
  bottom: calc(50% - 15px);
}
