:root {
  /* --main-color: #1b4543;
  --secondary-color: #b3d0c6;
  --accentuation: #f0be6f; */
  --main-color: #eff0f3;
  --secondary-color: #0d0d0d;
  --accentuation: #f0944f;
  --radius: 10px;
}

/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--secondary-color);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* HEADER */

header {
  background-color: var(--accentuation);
  color: var(--main-color);
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  display: flex;
  gap: 20px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 24px;
  font-weight: bold;
}

header .visibleXs {
  display: none;
}

header .menu {
  display: none;
}

/* MAIN */

main {
  margin-top: 60px;
  background: linear-gradient(
    180deg,
    rgba(239, 240, 243, 1) 0%,
    rgba(240, 151, 84, 0.8) 80%,
    rgba(240, 148, 79, 1) 100%
  );
  position: relative;
}

section {
  padding-top: 70px;
}

.bigShape1 {
  height: 100vh;
  width: 100vh;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  background-color: var(--accentuation);
  position: absolute;
  right: 0;
  top: 10%;
  z-index: -1;
}

.bigShape2 {
  height: 100vh;
  width: 100vh;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: var(--accentuation);
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

/* INTRODUCTION SECTION */

#introduction {
  height: 500px;
  display: flex;
  align-items: center;
}

#introduction > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 50px;
  position: relative;
  padding-bottom: 20px;
}

#introduction span {
  color: var(--accentuation);
}

#introduction .btn {
  background-color: var(--accentuation);
  color: var(--secondary-color);
  width: fit-content;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: var(--radius);
  text-decoration: none;
  text-transform: uppercase;
}

#introduction img {
  max-height: 400px;
  object-fit: scale-down;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
  z-index: 2;
}

#introduction .shape {
  height: 300px;
  width: 300px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  background-color: var(--accentuation);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/* PROJECTS SECTION */

#projects > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ABOUT ME SECTION */

#aboutMe > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  gap: 20px;
}

.skillsContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.skill {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skillsContainer img,
.skillsContainer svg {
  height: 40px;
  color: var(--accentuation);
}

.languagesContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.languagesContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.languagesContainer > div > div:first-of-type {
  font-size: 40px;
  font-weight: 500;
  color: var(--accentuation);
}

.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 50px 0;
}

.timeline {
  background-color: var(--secondary-color);
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timeline > div:first-child {
  position: absolute;
  top: -30px;
}

.timeline > div:last-child {
  position: absolute;
  bottom: -30px;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btnResume {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--radius);
  text-decoration: none;
  font-weight: bold;
}

/* CONTACT SECTION */

.contactContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.contactContainer > a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
}

.contactContainer svg {
  color: var(--main-color);
  font-size: 24px;
}

/* FOOTER */

footer {
  background-color: var(--secondary-color);
  color: var(--main-color);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
